@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Science Gothic", sans-serif;
}

.app{
   min-height: 100vh;
   display: grid;
   background-color: rgb(165, 243, 233);
}