.container{
    place-self: center;
    padding: 30px;
    border-radius: 15px;
    background-image: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    font-size: 18px;
}

.search img{
    cursor: pointer;
}

.icons{
    width: 180px;
    height: 180px;
    margin: 30px 0;

}

.temperature{
    color: white;
    font-size: 60px;
}

.location{
    color: white;
    font-size: 30px;
}

.weather_data{
    width: 100%;
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.weather_data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 20px;
}

.weather_data .col span{
    display: block;
    font-size: 14px;
}

.weather_data .col img{
    width: 25px;
    margin-top: 10px;
}